@import 'styles/common';

.favorites {
  flex-grow: 1;
  min-height: 0;

  h1 {
    margin: 0 0 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $text-black;
  }

  .sort {
    display: flex;
    gap: 8px;
    margin: 0 0 16px;
  }

  .list {
    padding: 0 14px 0 0;
    overflow-y: auto;
    @include custom-scrollbar;
  }
}
