@import "styles/common";

.homePage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background: #F4F4F4;

  .content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    gap: 24px;
    min-height: 0;
    margin: 0 auto;
    padding: 0 30px 30px;

    .sidePanel {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex: 360px 0 0;
    }
  }
}
