@import "styles/common";

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 32px;
  background: $white;
  box-shadow: 0 4px 33px rgba($black, 0.04);
  border-radius: 16px;
}
