@import 'styles/common';

.carousel {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  padding: 0 0 28px;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    flex-shrink: 0;
    width: 164px;
    height: 149px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba($black, 0.15);
  }
}
