@import 'styles/common';

.results {
  flex-shrink: 0;
  max-width: 664px;
  width: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 28px;

    time {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $primary;
    }
  }

  .favoritesCount {
    margin: 0 0 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: $text-black;

    span {
      font-weight: 500;
      color: $primary;
    }
  }

  .hotels {
    padding: 8px 14px 0 0;
    overflow-y: auto;
    @include custom-scrollbar;

    &.loading {
      opacity: 25%;
    }

    .nothingFound {
      margin: 15px 0 0;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #878787;
    }
  }
}
